# your zendesk domain
domain=''
# login and password for zendesk
# by default login/password authentication is disabled, and you have to generate API token
# see: https://support.zendesk.com/hc/en-us/articles/4408889192858-Generating-a-new-API-token
# in such case login will be "your@email.com/token" and password will be "your_api_token"
login=''
password=''